@(userform: Form[User])
@import helper._
@import helpers.MyHelpers._

<html lang="en">
<head>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
    <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>

</head>
<body>

<div class="row-fluid">
    <div class="span4">
        &nbsp;
    </div>
    <div class="span4">

        <div class="widget">
            <div class="widget-header">
                <i class="icon-user"></i>

                <h3>Register profile</h3>
            </div>
            <!-- /widget-header -->

            <div class="widget-content">
                @helper.form(action = routes.UserController.registerProfile, 'class -> "form-horizontal") {

                @inputText(
                userform("profileName"),
                '_id -> "profileName",
                '_name -> "profileName",
                '_label -> "Name",
                '_help -> "*",
                '_error -> userform.error("profilename")
                )

                @inputText(
                userform("email"),
                '_label -> "Email",
                '_help -> "*",
                '_error -> userform.error("email")
                )

                @inputText(
                userform("password"),
                '_label -> "Password",
                '_help -> "*",
                '_error -> userform.globalError,
                '_type -> "password"
                )

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Register profile</button>
                    </div>
                </div>
                }
            </div>

        </div>
        <div class="span4">
        </div>
    </div>
</div>
</body>
</html>