@(userform: Form[User])
@import helper._
@import helpers.MyHelpers._

<div class="widget">
    <div class="widget-header">
        <i class="icon-star"></i>
        <h3>Register profile</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">
    @helper.form(action = routes.Application.registerProfile, 'class -> "form-horizontal") {

        @inputText(
            userform("profileName"),
            '_id -> "profileName",
            '_name -> "profileName",
            '_label -> "Name",
            '_help -> "*",
            '_error -> userform.error("profilename")
        )

        @inputText(
            userform("email"),
            '_label -> "Email",
            '_help -> "*",
            '_error -> userform.error("email")
        )

        @inputText(
            userform("password"),
            '_label -> "Password",
            '_help -> "*",
            '_error -> userform.globalError,
            '_type -> "password"
        )

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Register profile</button>
                <input type="submit" class="btn primary" value="Sign Up">
            </div>
        </div>
    }
    </div>
</div>