@(userform: Form[models.User])
@import java.util.UUID
@import helper._
@import helpers.MyHelpers._

    <div class="widget">
        <div class="widget-header">
            <i class="icon-star"></i>
            <h3>Register profile</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
        @helper.form(action = routes.Signup.registerProfile, args = 'class -> "form-horizontal", 'id -> "helloform") {

            @inputText(
                userform("profileName"),
                '_label -> "Name",
                '_help -> "*",
                '_error -> userform.globalError
            )

            @inputText(
                userform("email"),
                '_label -> "Email",
                '_help -> "*",
                '_error -> userform.globalError
            )

            @inputPassword(
                userform("password"),
                '_label -> "Password",
                '_help -> "*",
                '_error -> userform.globalError
            )

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Register profile</button>
                </div>
            </div>
        }
        </div>
    </div>
